.sheet.item {
  min-width: 900px!important;
}
.sheet.item.container {
  min-width: 900px!important;
}
/*
.application.sheet.journal-entry.dnd5e2.dnd5e2-journal.titlebar.expanded,
.application.sheet.journal-sheet.journal-entry-page.text.dnd5e2.dnd5e2-journal.titlebar.dialog-lg {
  background-image: url(IMMAGINI_BACKGROUND/background-dark-cosmos.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  
  text-shadow: 0.3px 0.3px white;
}

.prosemirror menu, prose-mirror menu, prose-mirror menu li button, prose-mirror menu li select,
.window-content .journal-header .title, 
.sheet.journal-entry .journal-entry-content,
.sheet.dnd5e2-journal.journal-entry.application .journal-entry-content,
.form-footer.journal-footer.flexrow button {
  background: unset!important;
  border: unset!important;
}

.window-content > .journal-header > .page-metadata.flexrow > .heading-level.flexrow > select {
  background: unset!important;
  border: unset!important;
}
*/